{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "http://localhost:8080/admin"
  },
  "/webswing-demo" : {
    "path" : "/webswing-demo",
    "enabled" : true,
    "name" : "Webswing Demo",
    "webFolder" : "${webswing.rootDir}/apps/WebswingDemo/webroot",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "webHomeDir" : "${webswing.rootDir}/apps/WebswingDemo",
    "icon" : "icon.png",
    "uploadMaxSize" : 5,
    "maxClients" : 100,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "recordingConsentRequired" : false,
    "mirroringConsentRequired" : false,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : true,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : true,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "homeDir" : "${webswing.rootDir}/apps/WebswingDemo",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : true,
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.WebswingDemoApp"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "jsLinkWhitelist" : [ "*" ],
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileSave" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "transparentFileOpen" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "*.jar" ]
    }
  },
  "/webswing-demo-applet" : {
    "path" : "/webswing-demo-applet",
    "enabled" : true,
    "name" : "Webswing Demo Applet",
    "webFolder" : "${webswing.rootDir}/apps/WebswingDemo/webroot",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "webHomeDir" : "${webswing.rootDir}/apps/WebswingDemo",
    "icon" : "icon-applet.png",
    "uploadMaxSize" : 5,
    "maxClients" : 100,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "recordingConsentRequired" : false,
    "mirroringConsentRequired" : false,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : true,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : true,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "homeDir" : "${webswing.rootDir}/apps/WebswingDemo",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : true,
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "jsLinkWhitelist" : [ "*" ],
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileSave" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "transparentFileOpen" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "*.jar" ],
      "launcherType" : "Applet",
      "launcherConfig" : {
        "appletClass" : "org.webswing.demo.applet.WebswingDemoApplet",
        "parameters" : {
          "param1" : "paramvalue1",
          "param2" : "paramvalue2"
        }
      }
    }
  },
  "/netbeans" : {
    "path" : "/netbeans",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "classPath" : [ ]
    },
    "icon" : "icon.png",
    "webFolder" : "",
    "swingConfig" : {
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dorg.netbeans.log.startup=print -DTopSecurityManager.disable=true",
      "classPathEntries" : [ "*.jar" ],
      "theme" : "Murrine",
      "swingSessionTimeout" : 300,
      "antiAliasText" : true,
      "isolatedFs" : true,
      "debug" : true,
      "directdraw" : false,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.NbMain"
      },
      "homeDir" : "${webswing.rootDir}/apps/nbmin"
    },
    "maxClients" : 1,
    "allowStealSession" : true,
    "name" : "NetBeans Platform",
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "${webswing.rootDir}/apps/nbmin"
  },
  "/javafx" : {
    "path" : "/javafx",
    "name" : "JavaFx",
    "enabled" : true,
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "NONE",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      },
      "securityContextPerTab" : false
    },
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "maxClients" : 1,
    "maxClientsPerUser" : -1,
    "allowStealSession" : true,
    "autoLogout" : true,
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "recordingAllowed" : true,
    "recordingConsentRequired" : false,
    "mirroringAllowed" : true,
    "mirroringConsentRequired" : false,
    "uploadMaxSize" : 5,
    "dataStore" : {
      "classPath" : [ "" ],
      "module" : "INHERITED",
      "config" : { },
      "directTransfer" : false
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "homeDir" : "${user.dir}",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "com.yworks.A.yEd"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "fontConfig" : { },
      "jsLinkWhitelist" : [ "*" ],
      "transparentFileOpen" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transferDir" : "${user}/upload",
      "classPathEntries" : [ "${webswing.rootDir}/apps/yed-3.21.1/yed.jar", "${webswing.rootDir}/apps/yed-3.21.1/lib" ]
    }
  },
  "/pampazoo" : {
    "path" : "/pampazoo",
    "name" : "PampaZoo",
    "enabled" : true,
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "NONE",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      },
      "securityContextPerTab" : false
    },
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "maxClients" : 1,
    "maxClientsPerUser" : -1,
    "allowStealSession" : true,
    "autoLogout" : true,
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "recordingAllowed" : true,
    "recordingConsentRequired" : false,
    "mirroringAllowed" : true,
    "mirroringConsentRequired" : false,
    "uploadMaxSize" : 5,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { },
      "directTransfer" : false
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : true,
      "allowJsLink" : true,
      "javaFx" : true,
      "homeDir" : "${user.dir}",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "application.Main"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "fontConfig" : { },
      "classPathEntries" : [ "${webswing.rootDir}/apps/PampaZoo/pampaZoo.jar", "${webswing.rootDir}/apps/PampaZoo/pampaZoo_lib", "${webswing.rootDir}/apps/PampaZoo/img" ],
      "jsLinkWhitelist" : [ "*" ],
      "transferDir" : "${user}/upload",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "vmArgs" : ""
    }
  },
  "/olamundo" : {
    "path" : "/olamundo",
    "name" : "OlaMundo",
    "enabled" : true,
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "NONE",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      },
      "securityContextPerTab" : false
    },
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "maxClients" : 1,
    "maxClientsPerUser" : -1,
    "allowStealSession" : true,
    "autoLogout" : true,
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "recordingAllowed" : true,
    "recordingConsentRequired" : false,
    "mirroringAllowed" : true,
    "mirroringConsentRequired" : false,
    "uploadMaxSize" : 5,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { },
      "directTransfer" : false
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : true,
      "homeDir" : "${user.dir}",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "application.Main"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "fontConfig" : { },
      "jsLinkWhitelist" : [ "*" ],
      "transparentFileOpen" : true,
      "clearTransferDir" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "transparentFileSave" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transferDir" : "${user}/upload",
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "classPathEntries" : [ "${webswing.rootDir}/apps/OlaMundoWebswing/ws.jar" ]
    }
  }
}