@font-face {
    font-family: "Roboto-Regular.ttf";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoMono-Regular.ttf";
    src: url("../fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "RobotoSlab-Regular.ttf";
    src: url("../fonts/RobotoSlab-Regular.ttf");
}